#dashboard {
  height: 100vh;

  /* display: grid; */
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "side header"
    "side main";
}

.dashboard-header {
  grid-area: header;
}

.dashboard-main-body {
  background-color: white;
  padding-top: 7rem;
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c4 c5"
    "c4 c4 c6";
  gap: 20px;
}

.dashboard-card {
  background-color: seagreen;
  border-radius: 8px;
}

.dashboard-card:nth-child(1) {
  grid-area: c1;
}

.dashboard-card:nth-child(2) {
  grid-area: c2;
}

.dashboard-card:nth-child(3) {
  grid-area: c3;
}

.dashboard-card:nth-child(4) {
  grid-area: c4;
}

.dashboard-card:nth-child(5) {
  grid-area: c5;
}

.dashboard-card:nth-child(6) {
  grid-area: c6;
}

.dashboard-title {
  position: absolute;
  top: 0;
  padding-top: 1.75rem;
}
/* 
@media (max-width: 950px) {
  .dashboard-main-body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
    grid-template-areas: initial;
  }

  .dashboard-card {
    grid-area: initial !important;
  }
} */
