.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.title.logo {
  margin: 1.75rem;
}

.previous-button,
.next-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: rgb(53, 53, 53) 0.1rem solid;
  background: none;

  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 8px;
}

.previous-button:hover,
.next-button:hover {
  cursor: pointer;
  background: rgb(53, 53, 53);
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
}

#flashcard-revision {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

/* TEST */

.flippable-card-container {
  height: 300px;
  width: 500px;
  perspective: 1000px;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;

  transform-style: preserve-3d;

  border-radius: 8px;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

  user-select: none;
  cursor: pointer;
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* font-weight: 800; */
  font-size: 1.55rem;
  color: white;
  text-shadow: 2px, 2px, 10px, rgba(0, 0, 0, 0.9);
}

.card-front {
  background: #0077b5;
}

.card-front h1,
.card-back h1 {
  font-size: 1.45rem;
  font-weight: 400;

  padding: 0 1rem;
}

.card-back {
  background: #0077b5;
  transform: rotateY(180deg);
}

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-exit-done {
  transform: rotateY(180deg);
}

.flip-enter {
  transform: rotateY(180deg);
}

.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-enter-done {
  transform: rotateY(0deg);
}

/* FLASHCARDS MAIN PAGE */

.flashcards-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-top: 5rem;
  padding: 1.75rem;
}

.flashcards-links-container ul {
  text-decoration: none;
}

.flashcards-links-container li {
  list-style: none;
  padding: 1.5rem;
}
.flashcards-links-container a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

.flashcards-links-container a:hover {
  color: grey;
}

.links-listedcards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flashcard-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 2rem;
}

/* FLASHCARD BY TOPIC CARD */

.flash-by-topic-card-container {
  margin: 2rem 0;
  width: 100%;
  /* may need to change width and height values */
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.topic-card {
  border: 2px solid rgb(73, 162, 235);
  border-radius: 1.5rem;
  margin: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 19rem;
  width: 14rem;

  text-align: center;

  cursor: pointer;
}

.topic-card:hover {
  border: 2px solid rgb(19, 19, 73);
  transition: all 400ms ease-out;
}

.topic-card h1 {
  font-weight: 500;
  padding-bottom: 1rem;
}

.topic-card p {
  font-weight: 400;
}

.topic-card h1,
.topic-card p {
  margin: 0 1rem;
}

.topic-page-container {
  margin-top: 6rem;
}

.flashcard-deck-title {
  font-weight: 400;
  margin-left: 5rem;
}

/* SEARCH AND RESULTS */
.flash_search_bar_container {
  border: 1px solid #d5d7d9;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.2rem;
}

.flash_search_bar {
  border: none;
  padding: 0.5rem;
  outline: none;
  font-size: 15px;
  width: 100%;
}

.flashcard_search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.flashcard_search_results {
  position: absolute;
  margin-top: 0.2rem;
  top: 100%;
  left: 0%;
  z-index: 1000;
  border: 1px solid #d5d7d9;
  background-color: white;
  border-radius: 8px;
}

.flashcard_search_results.empty {
  display: none;
}

.search_results_ul {
  max-width: 380px;
  min-width: 380px;
}

.search_results_ul li {
  font-size: 15px;
}

.search_results_ul li:hover {
  cursor: default;
  background-color: lightgrey;
}

.selected_card_page {
  border: 1px solid #d5d7d9;
  margin: 8rem 1rem;
  width: auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  background-color: #d5d7d9;
}

.flash_bar {
  max-width: 380px;
  min-width: 380px;
}

@media screen and (max-width: 600px) {
  .flash-by-topic-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* ENTIRE PAGE CENTERED */

  .flashcards_page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .flashcard-deck-title {
    margin: 0;
  }
}

@media screen and (max-width: 890px) {
  .flash-by-topic-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1190px) {
  .flash-by-topic-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1480px) {
  .flash-by-topic-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
