@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

/* LOGIN PAGE */

/* #login {
} */

.nav_bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.nav-container > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.nav-container > a:hover {
  color: grey;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_card {
  border: 2px solid #0077b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-top: 3rem;
  border-radius: 8px;
}

.title,
.dashboard-title {
  font-size: 1.75rem;
  font-weight: 400;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.logo a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.form-for-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input,
.login-form button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.login-form button {
  border: none;
  background-color: #0077b5;
  color: white;
}

.login-form button:hover {
  cursor: pointer;
  background-color: hsl(202, 100%, 30%);
}

.login-form input {
  border: 2px solid #0077b5;
}
.logout-button,
.dashboard-logout-button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin: 1.75rem;
}

.dashboard-logout-button {
  position: absolute;
  bottom: 0;
}

.logout-button:hover,
.dashboard-logout-button:hover {
  background-color: darkgrey;
}

textarea {
  resize: vertical;
  padding: 0.3rem 1rem;
  border-color: #a5a5a5;
  border-radius: 5px;
  outline: none;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
}

.expandable_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expandable_button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 0.9rem;
}

.expandable_button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.expandable_content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 0;
}

.expandable_content.open {
  max-height: 1000px;
}
