@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f5f5;
}

/* LOGIN PAGE */

/* #login {
} */

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
}

.nav-container {
  padding: 2rem;
}

.nav-container > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.75rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.title,
.dashboard-title {
  font-size: 1.75rem;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.logo a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.form-for-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input,
.login-form button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.logout-button,
.dashboard-logout-button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin: 1.75rem;
}

.dashboard-logout-button {
  position: absolute;
  bottom: 0;
}

.logout-button:hover,
.dashboard-logout-button:hover {
  background-color: darkgrey;
}
