.quiz-container {
  display: inline-block;
  border: 2px solid black;
}

.quiz-list {
  display: flex;
  border: 2px solid purple;
}

.quiz-list li {
  border: 2px solid green;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* TEST */

.quiz-card-container {
  height: 500px;
  width: 800px;
  margin: 2rem;
}

.quiz-card {
  /* padding: 1rem; */
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  background: #0077b5;

  /* user-select: none; */
}

.quiz-card-question,
.quiz-card-answer-title,
.quiz-card-choices {
  color: white;
  text-shadow: 2px, 2px, 10px, rgba(0, 0, 0, 0.8);
  background: #0077b5;
}

.quiz-card-answer-title {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  margin-left: 0.9rem;
  margin-right: 0.5rem;
}

.quiz-card-question {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  margin-left: 0.9rem;
  margin-right: 0.5rem;
}

.quiz-card-answer-title,
.quiz-card-question,
.quiz-card-choices {
  font-size: 1rem;
}

.quiz-card-answer {
  color: white;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  margin-right: 0.9rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.quiz-card-choice-container {
  /* border: 2px solid palevioletred; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.1rem auto;
  /* padding-top: 1rem; */
}

.quiz-card-choices {
  /* border: 2px solid black; */
  position: relative;
}

.quiz-card-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr, 1fr;

  gap: 1.5rem;
  background: #0077b5;
  margin: 0.9rem;
  /* border: 2px solid black; */
}

.quiz-card-list {
  /* border: 2px solid darkorange; */
  border: 2px solid #69a3d0;
  border-radius: 8px;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  font-size: 0.9rem;
  /* clamp(0.5rem, 1.25rem, 1.75rem); */
}

.quiz-card-list li {
  /* border: 2px solid yellow; */
  list-style: none;
  color: white;
  margin: 1.25rem;
}

.edit-quiz-button {
  background-color: #0077b5;
  color: white;
  padding: 10px 20px;
  /* border: 2px solid yellow; */
  border: 2px solid #69a3d0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

.quiz-card-question,
.quiz-card-answer,
.quiz-card-choices,
.quiz-card-list {
  cursor: default;
}
/* INTERACTIVE CARD */

/* this is a ul*/
.interactive-quiz-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;

  gap: 1.5rem;
  background: #0077b5;
  margin: 1.5rem;
}

.interactive-quiz-list-container li {
  list-style: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f2f2f2;
  border: 2px solid #69a3d0;
  padding: 1.25rem;
  border-radius: 8px;
  color: #333333;
}

.interactive-quiz-list-container li.correct {
  background: #dffff2;
  border: 2px solid #00d397;
  color: black;
}

/* need to change these up to make more accessible */

.interactive-quiz-list-container li.incorrect {
  background: #ffebeb;
  border: 2px solid #ff4a4a;
  color: black;
}

/* */

.container {
  /* border: 2px solid aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-card-question.interactive-question {
  font-size: 1.75rem;
  margin: 0.9rem;
  /* border: 2px solid black; */
}

.quiz-card-list-container.interactive-list-container {
  /* border: 2px solid white; */
  margin: 2.5rem;
}

.quiz-card-list.interactive-card-list {
  cursor: pointer;
}

.interactive-quiz-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.9rem;
  margin: 1.5rem;
}

.quiz-card-list.interactive-card-list.selected-correct-choice {
  background-color: green;
  border: 2px solid lightgreen;
}

.quiz-card-list.interactive-card-list.selected-incorrect-choice {
  background-color: darkred;
  border: 2px solid darkorange;
}

.quiz-card-list.interactive-card-list li {
  /* border: 2px solid brown; */
  font-size: 1.3rem;
}

/* BUTTON CONTAINER  */

.edit-delete-quiz-btn-container {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.9rem;
  gap: 1rem;
}

/* .editing-text-area {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-family: Arial, sans-serif; 
  font-size: 14px;
} */

/* .editing-text-area:focus {
  flex: 1;
  border-color: #0077b5; 
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 119, 181, 0.5); 
} */

.quizzes-main-page-navigation {
  margin: 5rem;
}

.quizzes-main-page-navigation li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
}

.quizzes-main-page-navigation li:hover {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: grey;
}

.quizzes-main-page-navigation a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
}

.quizzes-main-page-navigation a:hover {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: grey;
}

.edit-quiz-screen {
  margin: auto;
}

.edit_quiz_cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quiz-ans-q-container {
  display: flex;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: flex-start;
}

.q-container {
  margin-top: 1rem;
}

.quiz-navigation-card {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-nav-inner-card {
  border: 2px solid rgb(73, 162, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 700px;
}

.view_quiz_page {
  display: flex;
  flex-direction: column;
}

.quiz_expandable_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 1.75rem;
}

.make_quiz_button_container {
  padding: 1.5rem;
}

.edit_quiz_form {
  margin: 8rem 3rem;
}

.edit_quiz_form button,
.make_quiz_btn {
  padding: 1rem 2rem;
  border: none;
  font-size: 0.9rem;
  border-radius: 8px;
  background: #d5d7d9;
}

.edit_quiz_form button:hover,
.make_quiz_btn:hover {
  cursor: pointer;
}

.interactive-quiz-container {
  border: 1px solid #d5d7d9;
  margin: 4rem 1rem;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_flash_btn.next-q-btn {
  margin: 0;
}

.completed_quiz_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.completed_quiz_container h2 {
  font-weight: 400;
  color: white;
}

.completed_quiz_container button {
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
}

.completed_quiz_container button:hover {
  cursor: pointer;
  background-color: #d5d7d9;
}

@media screen and (max-width: 550px) {
  .interactive-quiz-list-container {
    display: flex;
    flex-direction: column;
  }
  .quiz-card-container {
    width: 380px;
  }

  .quiz-card-list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .quiz_expandable_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit-quiz-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 890px) {
  .quiz-card-container {
    height: auto;
    width: 630px;
  }

  .quiz-card-list-container {
    display: flex;
    flex-direction: column;
  }

  .quiz-card-question.interactive-question {
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }
  .interactive-quiz-list-container li {
    font-size: 0.95rem;
  }
  .edit_flash_btn.next-q-btn {
    margin-bottom: 0.7rem;
  }
}

@media screen and (max-width: 730px) {
  .quiz-card-container {
    height: auto;
    width: 350px;
  }

  .quiz-card-list-container {
    display: flex;
    flex-direction: column;
  }
  .edit_quiz_cards_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .quiz-card-container {
    width: 300px;
  }
}

@media screen and (max-width: 760px) {
  .quiz-nav-inner-card {
    width: auto;
  }
  .quizzes-main-page-navigation {
    margin: 4rem;
  }

  .quizzes-main-page-navigation li,
  .quizzes-main-page-navigation a {
    font-size: 1.3rem;
  }

  .quiz-card-question.interactive-question {
    font-size: 1.2rem;
  }
  .interactive-quiz-list-container li {
    font-size: 0.95rem;
  }
  .edit_flash_btn.next-q-btn {
    margin-bottom: 0.7rem;
  }
}

@media screen and (max-width: 580px) {
  .quiz-nav-inner-card {
    width: 400px;
  }

  .quizzes-main-page-navigation {
    margin: 3rem;
  }
}

@media screen and (max-width: 430px) {
  .quiz-nav-inner-card {
    width: 300px;
  }
}
