.quiz-container {
  display: inline-block;
  border: 2px solid black;
}

.quiz-list {
  display: flex;
  border: 2px solid purple;
}

.quiz-list li {
  border: 2px solid green;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* TEST */

.quiz-card-container {
  height: auto;
  max-width: 800px;
  margin: 2rem;
}

.quiz-card {
  padding: 1rem;
  height: 100%;
  width: 100%;
  /* border: 2px solid yellow; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  background: #0077b5;

  /* user-select: none; */
}

.quiz-card-question,
.quiz-card-answer-title,
.quiz-card-choices {
  height: 100%;
  width: 100%;
  /* font-size: 1.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  text-shadow: 2px, 2px, 10px, rgba(0, 0, 0, 0.8);
  background: #0077b5;
}

.quiz-card-question {
  margin: 0.9rem;
}

.quiz-card-answer-title,
.quiz-card-question,
.quiz-card-choices {
  font-size: 1rem;
}

.quiz-card-answer {
  color: white;
  margin: 0.9rem;
  text-align: center;
}

.quiz-card-choice-container {
  /* border: 2px solid palevioletred; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  /* padding-top: 1rem; */
}

.quiz-card-choices {
  /* border: 2px solid black; */
  position: relative;
  margin-bottom: 2rem;
}

.quiz-card-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr, 1fr;

  gap: 1.5rem;
  background: #0077b5;
  /* border: 2px solid black; */
}

.quiz-card-list {
  /* border: 2px solid darkorange; */
  border: 2px solid #69a3d0;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  font-size: 0.9rem;
  /* clamp(0.5rem, 1.25rem, 1.75rem); */
}

.quiz-card-list li {
  /* border: 2px solid yellow; */
  list-style: none;
  color: white;
  margin: 1.25rem;
}

.edit-quiz-button {
  background-color: #0077b5;
  color: white;
  padding: 10px 20px;
  /* border: 2px solid yellow; */
  border: 2px solid #69a3d0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

.quiz-card-question,
.quiz-card-answer,
.quiz-card-choices,
.quiz-card-list {
  cursor: default;
}
/* INTERACTIVE CARD */

/* this is a ul*/
.interactive-quiz-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;

  gap: 1.5rem;
  background: #0077b5;
  margin: 1.5rem;
}

.interactive-quiz-list-container li {
  list-style: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #005080;
  border: 2px solid #69a3d0;
  padding: 1.25rem;
  border-radius: 8px;

  color: white;
}

.interactive-quiz-list-container li.correct {
  background: #dffff2;
  border: 2px solid #00d397;
  color: black;
}

/* need to change these up to make more accessible */

.interactive-quiz-list-container li.incorrect {
  background: #ffebeb;
  border: 2px solid #ff4a4a;
  color: black;
}

/* */

.container {
  /* border: 2px solid aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-card-question.interactive-question {
  font-size: 1.75rem;
  margin: 0.9rem;
  /* border: 2px solid black; */
}

.quiz-card-list-container.interactive-list-container {
  /* border: 2px solid white; */
  margin: 2.5rem;
}

.quiz-card-list.interactive-card-list {
  cursor: pointer;
}

.interactive-quiz-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.9rem;
  margin: 1.5rem;
}

.quiz-card-list.interactive-card-list.selected-correct-choice {
  background-color: green;
  border: 2px solid lightgreen;
}

.quiz-card-list.interactive-card-list.selected-incorrect-choice {
  background-color: darkred;
  border: 2px solid darkorange;
}

.quiz-card-list.interactive-card-list li {
  /* border: 2px solid brown; */
  font-size: 1.3rem;
}

/* BUTTON CONTAINER  */

.edit-delete-quiz-btn-container {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.9rem;
}

/* .editing-text-area {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-family: Arial, sans-serif; 
  font-size: 14px;
} */

/* .editing-text-area:focus {
  flex: 1;
  border-color: #0077b5; 
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 119, 181, 0.5); 
} */

.quizzes-main-page-navigation li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.quizzes-main-page-navigation li:hover {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.edit-quiz-screen {
  margin: auto;
}
