.quiz-container {
  display: inline-block;
  border: 2px solid black;
}

.quiz-list {
  display: flex;
  border: 2px solid purple;
}

.quiz-list li {
  border: 2px solid green;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* TEST */

.quiz-card-container {
  height: 400px;
  width: 600px;
  margin: 2rem;
}

.quiz-card {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  background: #0077b5;

  /* user-select: none; */
}

.quiz-card-question,
.quiz-card-answer,
.quiz-card-choices {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  text-shadow: 2px, 2px, 10px, rgba(0, 0, 0, 0.8);
  background: #0077b5;
}

.quiz-card-choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.quiz-card-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 60px;

  margin: 1.5rem;
  gap: 10px;
  background: #0077b5;
}

.quiz-card-list {
  border: 2px solid #69a3d0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem;
  font-weight: 600;
}

.quiz-card-list li {
  list-style: none;
  color: white;
}
